/*
    公共样式
*/

//头部
.div1{
    min-width:1200px;
    height: 30px;
    font-size:12px;
    color:#555;
    border-bottom:1px solid #ccc;
    background: linear-gradient(180deg,#fff, #eee);
    // background:url("../css/img/spirit.fw.png") repeat-x 0 0;
    .div1_l{
        text-align:center;
        height: 30px;
        line-height: 30px;
        span{
            display:inline-block;   
            margin:0px 4px;
        }
        a{
            display:inline-block;
        }
    }
    .div1_r{
        @extend .div1_l;
        position: relative;
        >ul{
            position: relative;
            >li{
                width: 77px;
                float: left;
                >i{
                    display: block;
                    width: 13px;
                    height: 10px;
                    background: url("../css/img/spirit.fw.png") no-repeat 0 0;
                    left:64px;
                    top:10px;
                    position: absolute; 
                }
                >ul{
                    display:none;
                }
            }
            .div1_li1:hover{
                background: #fff;
                .div1_ul1{
                    display:block;
                }
            }
            .div1_li2:hover{
                background: #fff;
                .div1_ul2{
                    display:block;
                }
            }
            >li:last-child{
                width: 106px;
                i{
                    display:block;
                    width: 13px;
                    height: 10px;
                    background: url("../css/img/spirit.fw.png") no-repeat -13px 0;
                    left:228px;
                    top:10px;
                    position: absolute; 
                }
            }
        }
    }
}

//详情页和列表页公用：搜索栏，导航栏
.div2{
    min-width:1200px;
    height: 100px;
    position: relative;
    a{
        margin:16px 29px 0 5px;
        background:url('../img/logo.png') no-repeat;
        width: 300px;
        height: 68px;
        display:block;
    }
    .div2_box{
        width: 521px;
        height: 40px;
        border: solid 5px #E9E9E9;
        position: relative;
        left:329px;
        top:23px;
        input{
            width: 441px;
            height: 30px;
            border:solid 1px #C7012C;
            position: absolute;
            left:0px;
        }
        button{
            height: 30px;
            width: 80px;
            background: #C7012C;
            font-weight:bold;
            color:#fff;
            border:none;
            position: absolute;
            left:431px;
            font-size:16px;
            letter-spacing:6px;
        }
    }
}

.div3{
    min-width:1200px;
    .container{
        height: 40px;
        background: #C7012C;
        border-radius:3px;
    }
    .div3_l{
        color:#fff;
        font-size:16px;
        letter-spacing: 1px;
        line-height: 40px;
        >ul{
            >li{
                float: left;
                text-align:center;
                position: relative;
                height: 40px;
                line-height: 40px;
                >span{
                    display:block;
                    float: left;
                    height: 16px;
                    padding:0 20px;
                    margin-top:10px;
                    line-height: 16px;
                    border-right:1px solid #fff;
                    >i{
                        display:block;
                        width: 21px;
                        height: 23px;
                        background: url("../css/img/spirit.fw.png") no-repeat -200px 0;
                        position: absolute;
                        left:87px;
                        top:-7px;
                    }
                }
                .div3_span{
                    border:none;
                }
            }
            >li:first-child{
                width: 228px;
                padding-left:26px;
                text-align:left;
                position: relative;
                z-index:100;
                >ul{
                    position: absolute;
                    left:0px;
                    border:1px solid #C7022D;
                    border-top:none;
                    border-right:none;
                    display:none;
                    >li{
                        font-size:16px;
                        color:#222;
                        width: 231px;
                        height: 46px;
                        background: #FFEFE0;
                        padding-left:23px;
                        border-bottom:1px solid #F8D4BC;
                        border-right:1px solid #C7022D;
                        position: relative;
                        >ul{
                            position: absolute;
                            left:231px;
                            top:0px;
                            background: #fff;
                            width: 508px;
                            height: 200px;
                            display:none;
                            >li{
                                float: left;
                                height: 64px;
                                line-height: 64px;
                                color:#333;
                                padding-left:22px;
                                font-size:12px;
                            }
                        }
                        >i{
                            display:block;
                            width: 15px;
                            height: 15px;
                            background: url("../css/img/spirit.fw.png") no-repeat -230px 0;
                            position: absolute;
                            right:21px;
                            top:13px;
                        }
                    }
                }
                >i{
                    display:block;
                    width: 20px;
                    height: 20px;
                    background: url("../css/img/spirit.fw.png") no-repeat -160px 0;
                    position: absolute;
                    left:185px;
                    top:10px;
                }
            }
            >li:hover{
                >ul{
                    display:block;
                    >li:hover{
                        background: #fff;  
                        border-left:2px solid #C7022D;
                        border-bottom:2px solid #C7022D;
                        border-right:none;
                        >ul{
                            border:2px solid #C7022D;
                            border-left:none;
                            display:block;
                        }
                    }
                }
            }
        }
    }
    .div3_r{
        font-size:12px;
        float: right;
        width: 216px;
        height: 40px;
        margin-top:7px;
        position: relative;
        .div3_p{
            display:inline-block;
            height: 24px;
            line-height: 24px;
            width: 122px;
            background: #FFEFE0;
            border-radius:3px 0 0 3px;
            padding-left:40px;
            >i{
                display:block;
                width: 20px;
                height: 20px;
                background: url("../css/img/spirit.fw.png") no-repeat -40px 0;
                left:8px;
                top:2px;
                position: absolute; 
            }
        }
        a{
            @extend .div3_p;
            width: 68px;
            padding-left:0;
            text-align:center;
            background: #FFDE00;
            margin-right:20px;
            border-radius:0 3px 3px 0;
            position: absolute;
            top:0px;
            color:#fff;
        }
    }
}

//购物车、列表页、详情页尾部

.div13{
    height: 271px;
    background: #fff;
    padding-top:34px;
    margin:0 auto;
    min-width:1200px;
    .container{}
    .kouhao{
        min-width:1200px;
        height: 47px;
        margin-bottom:20px;
        background:url('../img/sl_footer.png') no-repeat center top;
    }
    .div13_ul1{
        padding-top:10px;
        float: left;
        width: 300px;
        height: 149px;
        position: relative;
        i{
            display:block;
            width: 55px;
            height: 55px;
            background: url("../css/img/spirit.fw.png") no-repeat -290px -70px;
            left:35px;
            bottom:8px;
            position: absolute; 
        }
        li{
            font-size:12px;
            color:#999;
        }
        li:nth-child(1),li:nth-child(2){
            padding-left:27px;
            height: 34px;
            line-height: 34px;
            span{
                font-size:14px;
                color:#333;
            }
        }
        li:nth-child(3),li:nth-child(4){
            padding-left:102px;
            height: 48px;
            line-height: 48px;
            span{
                color:#FF6600;
            }
        }
        li:nth-child(4){
            line-height:6px; 
        }
    }
    .div14_ul2{
        float: left;
        height: 149px;
        width: 180px;
        padding-left:16px;
        border-left:1px solid #ccc;
        li{
            font-size:12px;
            color:#ccc;
            height: 20px;
            line-height: 20px;
        }
        li:first-child{
            font-size:14px;
            color:#333;
            margin-bottom:5px;
        }
    }
}
.div14{
    @extend .div13;
    height: 129px;
    padding:19px 0 0 10px;
    position: relative;
    min-width:1200px;
    .container{}
    li{
        font-size:12px;
        height: 24px;
        line-height: 24px;
        color:#ccc;
        .div14_span{
            padding-right:5px;
            height: 13px;
            line-height: 13px;
            display:inline-block;
            border-right:1px solid #ccc;
        }
    }
    li:first-child{
        color:#333;
        span{
            width: 69px;
            display:inline-block;
        }
    }
    i{
        display:block;
        width: 50px;
        height: 55px;
        background: url("../css/img/spirit.fw.png") no-repeat -150px -70px;
        right:0;
        bottom:40px;
        position: absolute;
    }
}

//注册、登录页尾部
.footer{
    width: 981px;
    background: #fff;
    margin:0 auto;
    height: 129px;
    padding-top:6px;
    position: relative;
    border-top:1px solid #ccc;
    li{
        font-size:12px;
        height: 18px;
        line-height: 18px;
        color:#777;
        .div14_span{
            padding-right:5px;
            height: 13px;
            line-height: 13px;
            display:inline-block;
            border-right:1px solid #ccc;
        }
    }
    li:first-child{
        color:#0066FF;
        span{
            width: 60px;
            display:inline-block;
            border-right:1px solid #ccc;
            text-align:center;
        }
        span:last-child{
            border:none;
        }
    }
    i{
        display:block;
        width: 60px;
        height: 70px;
        background: url("../css/img/spirit.fw.png") no-repeat -215px -70px;
        right:0;
        bottom:56px;
        position: absolute;
    }
}