body, h1, h2, h3, h4, h5, h6, p, dl, dd, ul, ol, form, input, textarea, th, td, select, figure, figcaption {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

html, body {
  height: 100%;
}

img {
  border: 0 none;
  display: block;
}

input {
  outline: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.clearfix ::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
  zoom: 1;
}

.fl {
  float: left;
}

.fr {
  float: right;
}
