@charset "UTF-8";
/*
    公共样式
*/
.div1 {
  min-width: 1200px;
  height: 30px;
  font-size: 12px;
  color: #555;
  border-bottom: 1px solid #ccc;
  background: linear-gradient(180deg, #fff, #eee);
}

.div1 .div1_l, .div1 .div1_r {
  text-align: center;
  height: 30px;
  line-height: 30px;
}

.div1 .div1_l span, .div1 .div1_r span {
  display: inline-block;
  margin: 0px 4px;
}

.div1 .div1_l a, .div1 .div1_r a {
  display: inline-block;
}

.div1 .div1_r {
  position: relative;
}

.div1 .div1_r > ul {
  position: relative;
}

.div1 .div1_r > ul > li {
  width: 77px;
  float: left;
}

.div1 .div1_r > ul > li > i {
  display: block;
  width: 13px;
  height: 10px;
  background: url("../css/img/spirit.fw.png") no-repeat 0 0;
  left: 64px;
  top: 10px;
  position: absolute;
}

.div1 .div1_r > ul > li > ul {
  display: none;
}

.div1 .div1_r > ul .div1_li1:hover {
  background: #fff;
}

.div1 .div1_r > ul .div1_li1:hover .div1_ul1 {
  display: block;
}

.div1 .div1_r > ul .div1_li2:hover {
  background: #fff;
}

.div1 .div1_r > ul .div1_li2:hover .div1_ul2 {
  display: block;
}

.div1 .div1_r > ul > li:last-child {
  width: 106px;
}

.div1 .div1_r > ul > li:last-child i {
  display: block;
  width: 13px;
  height: 10px;
  background: url("../css/img/spirit.fw.png") no-repeat -13px 0;
  left: 228px;
  top: 10px;
  position: absolute;
}

.div2 {
  min-width: 1200px;
  height: 100px;
  position: relative;
}

.div2 a {
  margin: 16px 29px 0 5px;
  background: url("../img/logo.png") no-repeat;
  width: 300px;
  height: 68px;
  display: block;
}

.div2 .div2_box {
  width: 521px;
  height: 40px;
  border: solid 5px #E9E9E9;
  position: relative;
  left: 329px;
  top: 23px;
}

.div2 .div2_box input {
  width: 441px;
  height: 30px;
  border: solid 1px #C7012C;
  position: absolute;
  left: 0px;
}

.div2 .div2_box button {
  height: 30px;
  width: 80px;
  background: #C7012C;
  font-weight: bold;
  color: #fff;
  border: none;
  position: absolute;
  left: 431px;
  font-size: 16px;
  letter-spacing: 6px;
}

.div3 {
  min-width: 1200px;
}

.div3 .container {
  height: 40px;
  background: #C7012C;
  border-radius: 3px;
}

.div3 .div3_l {
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 40px;
}

.div3 .div3_l > ul > li {
  float: left;
  text-align: center;
  position: relative;
  height: 40px;
  line-height: 40px;
}

.div3 .div3_l > ul > li > span {
  display: block;
  float: left;
  height: 16px;
  padding: 0 20px;
  margin-top: 10px;
  line-height: 16px;
  border-right: 1px solid #fff;
}

.div3 .div3_l > ul > li > span > i {
  display: block;
  width: 21px;
  height: 23px;
  background: url("../css/img/spirit.fw.png") no-repeat -200px 0;
  position: absolute;
  left: 87px;
  top: -7px;
}

.div3 .div3_l > ul > li .div3_span {
  border: none;
}

.div3 .div3_l > ul > li:first-child {
  width: 228px;
  padding-left: 26px;
  text-align: left;
  position: relative;
  z-index: 100;
}

.div3 .div3_l > ul > li:first-child > ul {
  position: absolute;
  left: 0px;
  border: 1px solid #C7022D;
  border-top: none;
  border-right: none;
  display: none;
}

.div3 .div3_l > ul > li:first-child > ul > li {
  font-size: 16px;
  color: #222;
  width: 231px;
  height: 46px;
  background: #FFEFE0;
  padding-left: 23px;
  border-bottom: 1px solid #F8D4BC;
  border-right: 1px solid #C7022D;
  position: relative;
}

.div3 .div3_l > ul > li:first-child > ul > li > ul {
  position: absolute;
  left: 231px;
  top: 0px;
  background: #fff;
  width: 508px;
  height: 200px;
  display: none;
}

.div3 .div3_l > ul > li:first-child > ul > li > ul > li {
  float: left;
  height: 64px;
  line-height: 64px;
  color: #333;
  padding-left: 22px;
  font-size: 12px;
}

.div3 .div3_l > ul > li:first-child > ul > li > i {
  display: block;
  width: 15px;
  height: 15px;
  background: url("../css/img/spirit.fw.png") no-repeat -230px 0;
  position: absolute;
  right: 21px;
  top: 13px;
}

.div3 .div3_l > ul > li:first-child > i {
  display: block;
  width: 20px;
  height: 20px;
  background: url("../css/img/spirit.fw.png") no-repeat -160px 0;
  position: absolute;
  left: 185px;
  top: 10px;
}

.div3 .div3_l > ul > li:hover > ul {
  display: block;
}

.div3 .div3_l > ul > li:hover > ul > li:hover {
  background: #fff;
  border-left: 2px solid #C7022D;
  border-bottom: 2px solid #C7022D;
  border-right: none;
}

.div3 .div3_l > ul > li:hover > ul > li:hover > ul {
  border: 2px solid #C7022D;
  border-left: none;
  display: block;
}

.div3 .div3_r {
  font-size: 12px;
  float: right;
  width: 216px;
  height: 40px;
  margin-top: 7px;
  position: relative;
}

.div3 .div3_r .div3_p, .div3 .div3_r > a {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  width: 122px;
  background: #FFEFE0;
  border-radius: 3px 0 0 3px;
  padding-left: 40px;
}

.div3 .div3_r .div3_p > i, .div3 .div3_r > a > i {
  display: block;
  width: 20px;
  height: 20px;
  background: url("../css/img/spirit.fw.png") no-repeat -40px 0;
  left: 8px;
  top: 2px;
  position: absolute;
}

.div3 .div3_r .div3_p > a, .div3 .div3_r > a > a {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 190px;
  height: 24px;
}

.div3 .div3_r > a {
  width: 68px;
  padding-left: 0;
  text-align: center;
  background: #FFDE00;
  margin-right: 20px;
  border-radius: 0 3px 3px 0;
  position: absolute;
  top: 0px;
  color: #fff;
}

.toTop {
  position: fixed;
  right: 54px;
  bottom: 54px;
  z-index: 10;
  font-size: 12px;
  width: 20px;
  height: 70px;
  background: #666;
  color: #fff;
  padding: 20px 0 0 3px;
  border-radius: 3px;
  opacity: 0;
}

.toTop i {
  display: block;
  width: 17px;
  height: 15px;
  background: url("../css/img/spirit.fw.png") no-repeat 0 -132px;
  left: 2px;
  top: 2px;
  position: absolute;
}

.toTop:hover {
  background: #333;
}

.div13, .div14 {
  height: 271px;
  background: #fff;
  padding-top: 34px;
  margin: 0 auto;
  min-width: 1200px;
}

.div13 .kouhao, .div14 .kouhao {
  min-width: 1200px;
  height: 47px;
  margin-bottom: 20px;
  background: url("../img/sl_footer.png") no-repeat center top;
}

.div13 .div13_ul1, .div14 .div13_ul1 {
  padding-top: 10px;
  float: left;
  width: 300px;
  height: 149px;
  position: relative;
}

.div13 .div13_ul1 i, .div14 .div13_ul1 i {
  display: block;
  width: 55px;
  height: 55px;
  background: url("../css/img/spirit.fw.png") no-repeat -290px -70px;
  left: 35px;
  bottom: 8px;
  position: absolute;
}

.div13 .div13_ul1 li, .div14 .div13_ul1 li {
  font-size: 12px;
  color: #999;
}

.div13 .div13_ul1 li:nth-child(1), .div14 .div13_ul1 li:nth-child(1), .div13 .div13_ul1 li:nth-child(2), .div14 .div13_ul1 li:nth-child(2) {
  padding-left: 27px;
  height: 34px;
  line-height: 34px;
}

.div13 .div13_ul1 li:nth-child(1) span, .div14 .div13_ul1 li:nth-child(1) span, .div13 .div13_ul1 li:nth-child(2) span, .div14 .div13_ul1 li:nth-child(2) span {
  font-size: 14px;
  color: #333;
}

.div13 .div13_ul1 li:nth-child(3), .div14 .div13_ul1 li:nth-child(3), .div13 .div13_ul1 li:nth-child(4), .div14 .div13_ul1 li:nth-child(4) {
  padding-left: 102px;
  height: 48px;
  line-height: 48px;
}

.div13 .div13_ul1 li:nth-child(3) span, .div14 .div13_ul1 li:nth-child(3) span, .div13 .div13_ul1 li:nth-child(4) span, .div14 .div13_ul1 li:nth-child(4) span {
  color: #FF6600;
}

.div13 .div13_ul1 li:nth-child(4), .div14 .div13_ul1 li:nth-child(4) {
  line-height: 6px;
}

.div13 .div14_ul2, .div14 .div14_ul2 {
  float: left;
  height: 149px;
  width: 180px;
  padding-left: 16px;
  border-left: 1px solid #ccc;
}

.div13 .div14_ul2 li, .div14 .div14_ul2 li {
  font-size: 12px;
  color: #ccc;
  height: 20px;
  line-height: 20px;
}

.div13 .div14_ul2 li:first-child, .div14 .div14_ul2 li:first-child {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

.div14 {
  height: 129px;
  padding: 19px 0 0 10px;
  position: relative;
  min-width: 1200px;
}

.div14 li {
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  color: #ccc;
}

.div14 li .div14_span {
  padding-right: 5px;
  height: 13px;
  line-height: 13px;
  display: inline-block;
  border-right: 1px solid #ccc;
}

.div14 li:first-child {
  color: #333;
}

.div14 li:first-child span {
  width: 69px;
  display: inline-block;
}

.div14 i {
  display: block;
  width: 50px;
  height: 55px;
  background: url("../css/img/spirit.fw.png") no-repeat -150px -70px;
  right: 110px;
  bottom: 40px;
  position: absolute;
}

.footer {
  width: 981px;
  background: #fff;
  margin: 0 auto;
  height: 129px;
  padding-top: 6px;
  position: relative;
  border-top: 1px solid #ccc;
}

.footer li {
  font-size: 12px;
  height: 18px;
  line-height: 18px;
  color: #777;
}

.footer li .div14_span {
  padding-right: 5px;
  height: 13px;
  line-height: 13px;
  display: inline-block;
  border-right: 1px solid #ccc;
}

.footer li:first-child {
  color: #0066FF;
}

.footer li:first-child span {
  width: 60px;
  display: inline-block;
  border-right: 1px solid #ccc;
  text-align: center;
}

.footer li:first-child span:last-child {
  border: none;
}

.footer i {
  display: block;
  width: 60px;
  height: 70px;
  background: url("../css/img/spirit.fw.png") no-repeat -215px -70px;
  right: 0;
  bottom: 56px;
  position: absolute;
}
