.div1 {
  min-width: 1200px;
  height: 30px;
  font-size: 12px;
  color: #555;
  border-bottom: 1px solid #ccc;
  background: linear-gradient(180deg, #fff, #eee);
}

.div1 .div1_l, .div1 .div1_r {
  text-align: center;
  height: 30px;
  line-height: 30px;
}

.div1 .div1_l span, .div1 .div1_r span {
  display: inline-block;
  margin: 0px 4px;
}

.div1 .div1_l a, .div1 .div1_r a {
  display: inline-block;
}

.div1 .div1_r {
  position: relative;
}

.div1 .div1_r > ul {
  position: relative;
}

.div1 .div1_r > ul > li {
  width: 77px;
  float: left;
}

.div1 .div1_r > ul > li > i {
  display: block;
  width: 13px;
  height: 10px;
  background: url("../css/img/spirit.fw.png") no-repeat 0 0;
  left: 64px;
  top: 10px;
  position: absolute;
}

.div1 .div1_r > ul > li > ul {
  display: none;
}

.div1 .div1_r > ul .div1_li1:hover {
  background: #fff;
}

.div1 .div1_r > ul .div1_li1:hover .div1_ul1 {
  display: block;
}

.div1 .div1_r > ul .div1_li2:hover {
  background: #fff;
}

.div1 .div1_r > ul .div1_li2:hover .div1_ul2 {
  display: block;
}

.div1 .div1_r > ul > li:last-child {
  width: 106px;
}

.div1 .div1_r > ul > li:last-child i {
  display: block;
  width: 13px;
  height: 10px;
  background: url("../css/img/spirit.fw.png") no-repeat -13px 0;
  left: 228px;
  top: 10px;
  position: absolute;
}

.div2 {
  min-width: 1200px;
  height: 100px;
}

.div2 a {
  margin: 16px 60px 0 5px;
  background: url("../img/logo.png") no-repeat;
  width: 300px;
  height: 68px;
  display: block;
}

.div2 form {
  height: 65px;
  margin-top: 35px;
  position: relative;
}

.div2 form input {
  width: 350px;
  height: 30px;
  border: solid 1px #ffc400;
}

.div2 form button {
  height: 30px;
  width: 80px;
  background: #FFC400;
  color: #000;
  border: none;
  position: absolute;
  left: 350px;
  top: 0px;
}

.div3 {
  min-width: 1200px;
  height: 40px;
  background: #FFC400;
  position: relative;
}

.div3 .container .div3_li {
  float: left;
}

.div3 .container .div3_li a {
  font-size: 16px;
  line-height: 40px;
  color: #000;
  padding: 0px 11px;
}

.div3 .container .div3_ul {
  float: left;
  height: 40px;
}

.div3 .container .div3_ul li:first-child {
  text-align: center;
  padding: 0px;
  font-size: 16px;
  line-height: 40px;
  color: #000;
  padding: 0 40px;
  position: relative;
}

.div3 .container .div3_ul li:first-child a {
  color: #000;
}

.div3 .container .div3_ul li:first-child ul {
  width: 190px;
  height: 480px;
  z-index: 999;
  position: absolute;
  float: left;
  left: 0px;
  background: #F6F6F6;
}

.div3 .container .div3_ul li:first-child ul li {
  text-align: center;
  font-size: 12px;
  height: 32px;
  line-height: 32px;
  position: relative;
}

.div3 .container .div3_ul li:first-child ul li i {
  display: block;
  width: 32px;
  height: 32px;
  background: url("../css/img/spirit.fw.png") no-repeat 0 -25px;
  left: 30px;
  position: absolute;
}

.div3 .container .div3_ul li:first-child ul .div3_ul_li {
  padding: 0px;
}

.div3 .container .div3_div {
  font-size: 14px;
  float: right;
  width: 216px;
  height: 40px;
  margin-top: 7px;
  position: relative;
}

.div3 .container .div3_div .div3_p, .div3 .container .div3_div a:nth-child(3) {
  display: inline-block;
  text-align: center;
  height: 24px;
  line-height: 24px;
  width: 122px;
  background: #fff;
  border-radius: 3px 0 0 3px;
}

.div3 .container .div3_div .div3_p > i, .div3 .container .div3_div a:nth-child(3) > i {
  display: block;
  width: 20px;
  height: 20px;
  background: url("../css/img/spirit.fw.png") no-repeat -40px 0;
  left: -1px;
  top: 2px;
  position: absolute;
}

.div3 .container .div3_div .div3_p .div3_box, .div3 .container .div3_div a:nth-child(3) .div3_box {
  padding-top: 9px;
  width: 227px;
  position: absolute;
  left: -11px;
  z-index: 999;
}

.div3 .container .div3_div .div3_p .div3_box .p1_div3, .div3 .container .div3_div a:nth-child(3) .div3_box .p1_div3 {
  height: 39px;
  background: #fff;
  font-size: 15px;
  line-height: 39px;
  text-align: center;
  color: #000;
}

.div3 .container .div3_div .div3_p .div3_box .p1_div3 > i, .div3 .container .div3_div a:nth-child(3) .div3_box .p1_div3 > i {
  display: block;
  width: 26px;
  height: 19px;
  background: url("../css/img/spirit.fw.png") no-repeat -70px 0;
  left: 75px;
  top: 18px;
  position: absolute;
}

.div3 .container .div3_div .div3_p .div3_box .p2_div3, .div3 .container .div3_div a:nth-child(3) .div3_box .p2_div3 {
  height: 139px;
  background: #DEDDF9;
  padding: 24px 0 0 24px;
}

.div3 .container .div3_div .div3_p .div3_box .p2_div3 > .a1_div3, .div3 .container .div3_div a:nth-child(3) .div3_box .p2_div3 > .a1_div3 {
  display: inline-block;
  font-size: 12px;
  height: 12px;
  line-height: 12px;
  float: left;
  margin-bottom: 9px;
}

.div3 .container .div3_div .div3_p .div3_box .p2_div3 .s_span, .div3 .container .div3_div a:nth-child(3) .div3_box .p2_div3 .s_span {
  color: red;
}

.div3 .container .div3_div .div3_p .div3_box .p3_div3, .div3 .container .div3_div a:nth-child(3) .div3_box .p3_div3 {
  height: 302px;
  background: url("../img/index_r2_c2.png") no-repeat 0 0;
}

.div3 .container .div3_div a:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  width: 190px;
  height: 24px;
}

.div3 .container .div3_div a:nth-child(3) {
  width: 68px;
  background: #FFDE00;
  margin-right: 20px;
  border-radius: 0;
  position: absolute;
  top: 0px;
}

.div4 {
  height: 480px;
  position: relative;
}

.div4 ul li {
  display: block;
  position: absolute;
  width: 100%;
  height: 480px;
  z-index: 1;
  background: url("../img/banner_0103.jpg") no-repeat center center;
}

.div4 ul li:nth-child(2) {
  display: none;
  background: url("../img/banner_0114.jpg") no-repeat center center;
}

.div4 ul li:nth-child(3) {
  display: none;
  background: url("../img/banner_0116.jpg") no-repeat center center;
}

.div4 ul li:nth-child(4) {
  display: none;
  background: url("../img/banner_0214.jpg") no-repeat center center;
}

.div4 .div4_l, .div4 .div4_r {
  position: absolute;
  top: 0px;
  left: 50%;
  z-index: 2;
  margin-left: -950px;
  height: 480px;
  width: 350px;
  overflow: hidden;
  background: url("../img/banner_bg.jpg") no-repeat 0% top;
}

.div4 .div4_r {
  margin-left: 600px;
  background: url("../img/bg_banner.jpg") no-repeat 100% top;
}

.div4 ul {
  height: 480px;
}

.div4 .page {
  position: absolute;
  left: 50%;
  margin-left: -82px;
  top: 400px;
  z-index: 3;
}

.div4 .page span {
  display: inline-block;
  width: 40px;
  height: 10px;
  opacity: 0.5;
  background: #000;
  margin-right: 3px;
}

.div4 .page .active {
  background: red;
  opacity: 1;
}

.div5 {
  background: #e21d24 url("../img/bg_02.jpg") no-repeat center top;
  min-width: 1200px;
  max-width: 100%;
  position: relative;
  height: 316px;
}

.div5 .div5_1 {
  position: relative;
  margin: 0 auto;
  width: 1200px;
}

.div6, .div7, .div8 {
  background: #e21d24 url("../img/titles.jpg") no-repeat center top;
  min-width: 1200px;
  max-width: 100%;
  height: 635px;
}

.div7 {
  height: 159px;
  background: #e21d24 url("../img/title_02.png") no-repeat center top;
}

.div8 {
  background: #e21d24;
  height: 520px;
}

.div8 .container {
  position: relative;
}

.div8 .tab {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.div8 .tab > ul {
  width: 110%;
  overflow: hidden;
  width: 116px;
}

.div8 .tab > ul > li {
  background: #cc0033;
  width: 116px;
  height: 61px;
  color: #fff;
  text-align: center;
  line-height: 61px;
  font-size: 14px;
  border-radius: 12px 0 0 12px;
}

.div8 .tab > ul > li:nth-of-type(even) {
  background: #22AC38;
}

.div8 .tab > ul li.active1 {
  background: #ff0066;
  color: #ff0;
}

.div8 .tab > ul li.active2 {
  background: #6c3;
  color: #ff0;
}

.div8 .tab > ul:nth-child(2) {
  padding-top: 35px;
}

.div8 .tab > ul:nth-child(2) li {
  border-radius: 0 12px 12px 0;
}

.div8 .content {
  width: 969px;
  margin: 0 auto;
  background: url(../img/ms_bg.png) no-repeat;
  height: 520px;
  overflow: hidden;
  position: relative;
}

.div8 .content > div {
  display: none;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  margin-left: -462px;
  top: 0;
}

.div8 .content > div:nth-child(1) {
  display: block;
}

.div8 .content > div.ulBox {
  width: 100%;
}

.div8 .content > div.ulBox ul {
  width: 924px;
  height: 496px;
  overflow: hidden;
  background: url("../img/ms1_bg.png");
}

.div8 .content > div.ulBox ul li {
  width: 280px;
  background: #fff;
  height: 380px;
  position: relative;
  float: left;
  margin: 55px -7px 45px 25px;
}

.div8 .content > div.ulBox ul li span {
  display: block;
  color: #fff;
  float: left;
  height: 56px;
}

.div8 .content > div.ulBox ul li .title {
  font-size: 14px;
  padding: 3px 10px;
  color: #000;
}

.div8 .content > div.ulBox ul li div {
  background: #666666;
  height: 56px;
  position: relative;
}

.div8 .content > div.ulBox ul li div .miao {
  margin-left: 10px;
  padding-top: 8px;
  width: 28px;
  font-size: 14px;
}

.div8 .content > div.ulBox ul li div .price {
  font-size: 24px;
  line-height: 66px;
}

.div8 .content > div.ulBox ul li div .sale {
  padding-top: 34px;
  text-align: center;
  line-height: 3px;
  position: absolute;
  left: 135px;
}

.div8 .content > div.ulBox ul li div > i {
  display: block;
  width: 75px;
  height: 56px;
  background: url("../css/img/spirit.fw.png") no-repeat 0 -70px;
  right: 0;
  top: 0px;
  position: absolute;
}

.div9 {
  min-width: 1200px;
  position: relative;
  height: 362px;
  background: url("../img/title_03.jpg") center top;
}

.div10 {
  min-width: 1200px;
  position: relative;
  height: 720px;
  background: url("../img/bg_03.jpg") center top;
}

.div10 .container {
  width: 1191px;
  margin: 0 auto;
}

.div10 .div10_3col {
  height: 227px;
}

.div10 .div10_3col .div10_box {
  width: 391px;
  height: 227px;
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 9px;
}

.div10 .div10_3col .div10_box img {
  width: 391px;
  height: 227px;
}

.div10 .div10_3col .div10_box a {
  width: 391px;
  height: 227px;
  font-size: 62px;
  color: #fff;
  text-align: center;
  height: 227px;
  line-height: 227px;
  position: absolute;
  background: #000;
  opacity: 0.5;
}

.div10 .div10_3col .special_box {
  margin: 0;
}

.div10 .div10_4col {
  height: 468px;
}

.div10 .div10_4col a {
  width: 291px;
  height: 226px;
  float: left;
  margin: 9px 9px 0 0;
}

.div10 .div10_4col a:nth-child(4), .div10 .div10_4col a:nth-child(8) {
  margin-right: 0;
}

.div11 {
  text-align: center;
  min-width: 1200px;
  background: #669A01 url("../img/title_05.jpg") no-repeat center top;
  height: 112px;
}

.div12 {
  background: #669A01;
  min-width: 1200px;
  overflow: hidden;
  padding-bottom: 20px;
  position: relative;
}

.div12 .container {
  background: #0099ff;
  height: 662px;
  border-radius: 8px;
}

.div12 ul {
  float: left;
  margin-top: 17px;
  height: 662px;
}

.div12 ul > li:first-child {
  height: 618px;
  background: #fff url("../img/pt_bi_07.jpg") no-repeat center top;
  margin: 0 12px 0 19px;
  overflow: hidden;
}

.div12 ul > li {
  width: 225px;
  height: 304px;
  float: left;
  margin: 0 9px 9px 0;
  background: #fff;
  position: relative;
}

.div12 ul > li img {
  margin-bottom: 3px;
}

.div12 ul > li .title {
  font-size: 12px;
  color: #000;
  padding-left: 11px;
  margin-bottom: 22px;
}

.div12 ul > li .sale {
  font-size: 18px;
  color: red;
  padding-left: 11px;
  display: inline-block;
  margin-right: 28px;
  font-weight: bold;
}

.div12 ul > li .price {
  font-size: 12px;
  color: #ccc;
  text-align: center;
  display: inline-block;
}

.div12 ul > li i {
  display: block;
  width: 50px;
  height: 50px;
  background: url("../css/img/spirit.fw.png") no-repeat -90px -70px;
  right: 15px;
  bottom: 5px;
  position: absolute;
}

.div13, .div14 {
  height: 271px;
  width: 981px;
  background: #fff;
  padding-top: 101px;
  margin: 0 auto;
}

.div13 .div13_ul1, .div14 .div13_ul1 {
  padding-top: 10px;
  float: left;
  width: 273px;
  height: 149px;
}

.div13 .div13_ul1 li, .div14 .div13_ul1 li {
  font-size: 12px;
  color: #999;
}

.div13 .div13_ul1 li:nth-child(1), .div14 .div13_ul1 li:nth-child(1), .div13 .div13_ul1 li:nth-child(2), .div14 .div13_ul1 li:nth-child(2) {
  padding-left: 27px;
  height: 34px;
  line-height: 34px;
}

.div13 .div13_ul1 li:nth-child(1) span, .div14 .div13_ul1 li:nth-child(1) span, .div13 .div13_ul1 li:nth-child(2) span, .div14 .div13_ul1 li:nth-child(2) span {
  font-size: 14px;
  color: #333;
}

.div13 .div13_ul1 li:nth-child(3), .div14 .div13_ul1 li:nth-child(3), .div13 .div13_ul1 li:nth-child(4), .div14 .div13_ul1 li:nth-child(4) {
  padding-left: 102px;
  height: 48px;
  line-height: 48px;
}

.div13 .div13_ul1 li:nth-child(3) span, .div14 .div13_ul1 li:nth-child(3) span, .div13 .div13_ul1 li:nth-child(4) span, .div14 .div13_ul1 li:nth-child(4) span {
  color: #FF6600;
}

.div13 .div13_ul1 li:nth-child(4), .div14 .div13_ul1 li:nth-child(4) {
  line-height: 6px;
}

.div13 .div14_ul2, .div14 .div14_ul2 {
  float: left;
  height: 149px;
  width: 140px;
  padding-left: 16px;
  border-left: 1px solid #ccc;
}

.div13 .div14_ul2 li, .div14 .div14_ul2 li {
  font-size: 12px;
  color: #ccc;
  height: 20px;
  line-height: 20px;
}

.div13 .div14_ul2 li:first-child, .div14 .div14_ul2 li:first-child {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

.div14 {
  height: 129px;
  padding-top: 19px;
  position: relative;
}

.div14 li {
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  color: #ccc;
}

.div14 li .div14_span {
  padding-right: 5px;
  height: 13px;
  line-height: 13px;
  display: inline-block;
  border-right: 1px solid #ccc;
}

.div14 li:first-child {
  color: #333;
}

.div14 li:first-child span {
  width: 69px;
  display: inline-block;
}

.div14 i {
  display: block;
  width: 50px;
  height: 55px;
  background: url("../css/img/spirit.fw.png") no-repeat -150px -70px;
  right: 0;
  bottom: 40px;
  position: absolute;
}

.div15 {
  min-width: 1200px;
  background: #fff url("../img/side.png") no-repeat center top;
}

.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 77;
}
