.div1 {
  min-width: 1200px;
  height: 30px;
  font-size: 12px;
  color: #555;
  border-bottom: 1px solid #ccc;
  background: linear-gradient(180deg, #fff, #eee);
}

.div1 .div1_l, .div1 .div1_r {
  text-align: center;
  height: 30px;
  line-height: 30px;
}

.div1 .div1_l span, .div1 .div1_r span {
  display: inline-block;
  margin: 0px 4px;
}

.div1 .div1_l a, .div1 .div1_r a {
  display: inline-block;
}

.div1 .div1_r {
  position: relative;
}

.div1 .div1_r ul {
  display: inline-block;
  width: 77px;
  position: relative;
}

.div1 .div1_r ul li i {
  display: block;
  width: 13px;
  height: 10px;
  background: url("../css/img/spirit.fw.png") no-repeat 0 0;
  left: 70px;
  top: 10px;
  position: absolute;
}

.div1 .div1_r span {
  display: inline-block;
  width: 77px;
}

.div1 .div1_r span:nth-child(4) {
  width: 96px;
}

.div1 .div1_r i {
  display: block;
  width: 13px;
  height: 10px;
  background: url("../css/img/spirit.fw.png") no-repeat -13px 0;
  left: 257px;
  top: 10px;
  position: absolute;
}

.div2 {
  min-width: 1200px;
  height: 100px;
}

.div2 a {
  margin: 16px 60px 0 5px;
  background: url("../img/logo.png") no-repeat;
  width: 300px;
  height: 68px;
  display: block;
}

.div2 form {
  height: 65px;
  margin-top: 35px;
  position: relative;
}

.div2 form input {
  width: 350px;
  height: 30px;
  border: solid 1px #ffc400;
}

.div2 form button {
  height: 30px;
  width: 80px;
  background: #FFC400;
  color: #000;
  border: none;
  position: absolute;
  left: 350px;
  top: 0px;
}

.div3 {
  min-width: 1200px;
  height: 40px;
  background: #FFC400;
  position: relative;
}

.div3 .container .div3_li {
  float: left;
}

.div3 .container .div3_li a {
  font-size: 16px;
  line-height: 40px;
  color: #000;
  padding: 0px 11px;
}

.div3 .container .div3_ul {
  float: left;
  height: 40px;
}

.div3 .container .div3_ul li:first-child {
  text-align: center;
  padding: 0px;
  font-size: 16px;
  line-height: 40px;
  color: #000;
  padding: 0 40px;
  position: relative;
}

.div3 .container .div3_ul li:first-child a {
  color: #000;
}

.div3 .container .div3_ul li:first-child ul {
  width: 190px;
  height: 480px;
  z-index: 999;
  position: absolute;
  float: left;
  left: 0px;
  background: #F6F6F6;
}

.div3 .container .div3_ul li:first-child ul li {
  text-align: center;
  font-size: 12px;
  height: 32px;
  line-height: 32px;
  position: relative;
}

.div3 .container .div3_ul li:first-child ul li i {
  display: block;
  width: 32px;
  height: 32px;
  background: url("../css/img/spirit.fw.png") no-repeat 0 -25px;
  left: 30px;
  position: absolute;
}

.div3 .container .div3_ul li:first-child ul .div3_ul_li {
  padding: 0px;
}

.div3 .container .div3_div {
  font-size: 14px;
  float: right;
  width: 216px;
  height: 40px;
  margin-top: 7px;
  position: relative;
}

.div3 .container .div3_div .div3_p, .div3 .container .div3_div a {
  display: inline-block;
  text-align: center;
  height: 24px;
  line-height: 24px;
  width: 122px;
  background: #fff;
  border-radius: 3px 0 0 3px;
}

.div3 .container .div3_div .div3_p > i, .div3 .container .div3_div a > i {
  display: block;
  width: 20px;
  height: 20px;
  background: url("../css/img/spirit.fw.png") no-repeat -40px 0;
  left: -1px;
  top: 2px;
  position: absolute;
}

.div3 .container .div3_div .div3_p .div3_box, .div3 .container .div3_div a .div3_box {
  padding-top: 9px;
  width: 227px;
  position: absolute;
  left: -11px;
  z-index: 999;
}

.div3 .container .div3_div .div3_p .div3_box .p1_div3, .div3 .container .div3_div a .div3_box .p1_div3 {
  height: 39px;
  background: #fff;
  font-size: 15px;
  line-height: 39px;
  text-align: center;
  color: #000;
}

.div3 .container .div3_div .div3_p .div3_box .p1_div3 > i, .div3 .container .div3_div a .div3_box .p1_div3 > i {
  display: block;
  width: 26px;
  height: 19px;
  background: url("../css/img/spirit.fw.png") no-repeat -70px 0;
  left: 75px;
  top: 18px;
  position: absolute;
}

.div3 .container .div3_div .div3_p .div3_box .p2_div3, .div3 .container .div3_div a .div3_box .p2_div3 {
  height: 139px;
  background: #DEDDF9;
  padding: 24px 0 0 24px;
}

.div3 .container .div3_div .div3_p .div3_box .p2_div3 > .a1_div3, .div3 .container .div3_div a .div3_box .p2_div3 > .a1_div3 {
  display: inline-block;
  font-size: 12px;
  height: 12px;
  line-height: 12px;
  float: left;
  margin-bottom: 9px;
}

.div3 .container .div3_div .div3_p .div3_box .p2_div3 .s_span, .div3 .container .div3_div a .div3_box .p2_div3 .s_span {
  color: red;
}

.div3 .container .div3_div .div3_p .div3_box .p3_div3, .div3 .container .div3_div a .div3_box .p3_div3 {
  height: 302px;
  background: url("../img/index_r2_c2.png") no-repeat 0 0;
}

.div3 .container .div3_div a {
  width: 68px;
  background: #FFDE00;
  margin-right: 20px;
  border-radius: 0;
  position: absolute;
  top: 0px;
}

.div4 {
  height: 480px;
  position: relative;
}

.div4 ul li {
  display: block;
  position: absolute;
  width: 100%;
  height: 480px;
  z-index: 1;
  background: url("../img/banner_0103.jpg") no-repeat center center;
}

.div4 ul li:nth-child(2) {
  display: none;
  background: url("../img/banner_0114.jpg") no-repeat center center;
}

.div4 ul li:nth-child(3) {
  display: none;
  background: url("../img/banner_0116.jpg") no-repeat center center;
}

.div4 ul li:nth-child(4) {
  display: none;
  background: url("../img/banner_0214.jpg") no-repeat center center;
}

.div4 .div4_l, .div4 .div4_r {
  position: absolute;
  top: 0px;
  left: 50%;
  z-index: 2;
  margin-left: -950px;
  height: 480px;
  width: 350px;
  overflow: hidden;
  background: url("../img/banner_bg.jpg") no-repeat 0% top;
}

.div4 .div4_r {
  margin-left: 600px;
  background: url("../img/bg_banner.jpg") no-repeat 100% top;
}

.div4 ul {
  height: 480px;
}

.div4 .page {
  position: absolute;
  left: 50%;
  margin-left: -82px;
  top: 400px;
  z-index: 3;
}

.div4 .page span {
  display: inline-block;
  width: 40px;
  height: 10px;
  opacity: 0.5;
  background: #000;
  margin-right: 3px;
}

.div4 .page .active {
  background: red;
  opacity: 1;
}

.div5 {
  background: #e21d24 url("../img/bg_02.jpg") no-repeat center top;
  min-width: 1200px;
  max-width: 100%;
  position: relative;
  height: 316px;
}

.div5 .div5_1 {
  position: relative;
  margin: 0 auto;
  width: 1200px;
}

.div6, .div7, .div8 {
  background: #e21d24 url("../img/titles.jpg") no-repeat center top;
  min-width: 1200px;
  max-width: 100%;
  height: 635px;
}

.div7 {
  height: 159px;
  background: #e21d24 url("../img/title_02.png") no-repeat center top;
}

.div8 {
  background: #e21d24;
  height: 520px;
  position: relative;
}

.div8 .tab {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.div8 .tab > ul {
  width: 110%;
  overflow: hidden;
}

.div8 .tab > ul > li {
  background: #cc0033;
}

.div8 .content {
  width: 969px;
  margin: 0 auto;
  background: url(../img/ms_bg.png) no-repeat;
  height: 520px;
  overflow: hidden;
}
