.div2 {
  min-width: 1200px;
  height: 100px;
  position: relative;
}

.div2 a {
  margin: 16px 29px 0 5px;
  background: url("../img/logo.png") no-repeat;
  width: 300px;
  height: 68px;
  display: block;
}

.div2 .div2_box {
  width: 521px;
  height: 40px;
  border: solid 5px #E9E9E9;
  position: relative;
  left: 329px;
  top: 23px;
}

.div2 .div2_box input {
  width: 441px;
  height: 30px;
  border: solid 1px #C7012C;
  position: absolute;
  left: 0px;
}

.div2 .div2_box button {
  height: 30px;
  width: 80px;
  background: #C7012C;
  font-weight: bold;
  color: #fff;
  border: none;
  position: absolute;
  left: 431px;
  font-size: 16px;
}

.div3 {
  min-width: 1200px;
}

.div3 .container {
  height: 40px;
  background: #C7012C;
  border-radius: 3px;
}

.div3 .div3_l {
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 40px;
}

.div3 .div3_l > ul > li {
  float: left;
  text-align: center;
  position: relative;
  height: 40px;
  line-height: 40px;
}

.div3 .div3_l > ul > li > span {
  display: block;
  float: left;
  height: 16px;
  padding: 0 20px;
  margin-top: 10px;
  line-height: 16px;
  border-right: 1px solid #fff;
}

.div3 .div3_l > ul > li > span > i {
  display: block;
  width: 21px;
  height: 23px;
  background: url("../css/img/spirit.fw.png") no-repeat -200px 0;
  position: absolute;
  left: 87px;
  top: -7px;
}

.div3 .div3_l > ul > li .div3_span {
  border: none;
}

.div3 .div3_l > ul > li:first-child {
  width: 228px;
  padding-left: 26px;
  text-align: left;
  position: relative;
  z-index: 100;
}

.div3 .div3_l > ul > li:first-child > ul {
  position: absolute;
  left: 0px;
  border: 1px solid #C7022D;
  border-top: none;
  border-right: none;
  display: none;
}

.div3 .div3_l > ul > li:first-child > ul > li {
  font-size: 16px;
  color: #222;
  width: 231px;
  height: 46px;
  background: #FFEFE0;
  padding-left: 23px;
  border-bottom: 1px solid #F8D4BC;
  border-right: 1px solid #C7022D;
  position: relative;
}

.div3 .div3_l > ul > li:first-child > ul > li > ul {
  position: absolute;
  left: 231px;
  top: 0px;
  background: #fff;
  width: 508px;
  height: 200px;
  display: none;
}

.div3 .div3_l > ul > li:first-child > ul > li > ul > li {
  float: left;
  height: 64px;
  line-height: 64px;
  color: #333;
  padding-left: 22px;
  font-size: 12px;
}

.div3 .div3_l > ul > li:first-child > ul > li > i {
  display: block;
  width: 15px;
  height: 15px;
  background: url("../css/img/spirit.fw.png") no-repeat -230px 0;
  position: absolute;
  right: 21px;
  top: 13px;
}

.div3 .div3_l > ul > li:first-child > i {
  display: block;
  width: 20px;
  height: 20px;
  background: url("../css/img/spirit.fw.png") no-repeat -160px 0;
  position: absolute;
  left: 185px;
  top: 10px;
}

.div3 .div3_l > ul > li:hover > ul {
  display: block;
}

.div3 .div3_l > ul > li:hover > ul > li:hover {
  background: #fff;
  border-left: 2px solid #C7022D;
  border-bottom: 2px solid #C7022D;
  border-right: none;
}

.div3 .div3_l > ul > li:hover > ul > li:hover > ul {
  border: 2px solid #C7022D;
  border-left: none;
  display: block;
}

.div3 .div3_r {
  font-size: 12px;
  float: right;
  width: 216px;
  height: 40px;
  margin-top: 7px;
  position: relative;
}

.div3 .div3_r .div3_p, .div3 .div3_r a {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  width: 122px;
  background: #FFEFE0;
  border-radius: 3px 0 0 3px;
  padding-left: 40px;
}

.div3 .div3_r .div3_p > i, .div3 .div3_r a > i {
  display: block;
  width: 20px;
  height: 20px;
  background: url("../css/img/spirit.fw.png") no-repeat -40px 0;
  left: 8px;
  top: 2px;
  position: absolute;
}

.div3 .div3_r a {
  width: 68px;
  padding-left: 0;
  text-align: center;
  background: #FFDE00;
  margin-right: 20px;
  border-radius: 0 3px 3px 0;
  position: absolute;
  top: 0px;
  color: #fff;
}

.div4 {
  min-width: 1200px;
  height: 41px;
  padding-top: 20px;
  font-size: 12px;
}

.div4 .container {
  border-bottom: 1px solid #ccc;
  height: 21px;
}

.div4 .container a, .div4 .container span {
  display: inline-block;
  padding-left: 11px;
  color: #666666;
}

.main {
  height: 2463px;
  min-width: 1200px;
  padding-top: 11px;
  font-size: 12px;
  color: #666;
}

.main .left {
  width: 231px;
  height: 2453px;
  background: #eee;
}

.main .left .left1 {
  width: 231px;
  height: 117px;
  border: 5px solid #f1f1f1;
}

.main .left .left1 .left11 {
  height: 105px;
  border: 1px solid #ddd;
  background: #F8F8F8;
}

.main .left .left1 .left11 > p {
  height: 52px;
  line-height: 52px;
  font-size: 16px;
  padding-left: 10px;
}

.main .right {
  width: 960px;
  height: 2453px;
}

.main .right .right1 {
  height: 147px;
  border-top: 2px solid #C6002C;
  border-bottom: 2px solid #C6002C;
}

.main .right .right1 .right11 {
  height: 40px;
  background: #F1F1F1;
  padding-left: 16px;
  line-height: 40px;
  font-size: 16px;
  color: #C7012C;
}

.main .right .right1 .right12 {
  height: 43px;
  padding-top: 13px;
  border-bottom: 1px dashed #ccc;
}

.main .right .right1 .right12 > span {
  margin-left: 23px;
  padding: 0 4px;
  display: inline-block;
  height: 18px;
  line-height: 18px;
}

.main .right .right1 .right13 {
  padding: 13px 0 0 23px;
}

.main .right .right2 {
  height: 78px;
  position: relative;
  background: #fff;
  overflow: hidden;
  border: 1px solid #ccc;
  border-top: 2px solid #C90933;
}

.main .right .right2 > span {
  height: 41px;
  line-height: 41px;
  width: 72px;
  display: block;
  float: left;
  text-align: left;
  padding-left: 16px;
  background: #F7F7F7;
  position: relative;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.main .right .right2 > span > i {
  display: block;
  width: 13px;
  height: 13px;
  background: url("../css/img/spirit.fw.png") no-repeat -250px 0;
  position: absolute;
  right: 9px;
  top: 14px;
}

.main .right .right2 .default {
  text-align: center;
  padding: 0;
}

.main .right .right2 .marketable {
  width: 516px;
}

.main .right .right2 .liebiao {
  border-right: none;
}

.main .right .right2 .datu > i, .main .right .right2 .liebiao > i {
  width: 15px;
  height: 13px;
  background: url("../css/img/spirit.fw.png") no-repeat -275px 0;
  right: 9px;
  top: 14px;
}

.main .right .right2 .right2_box {
  padding-top: 9px;
}

.main .right .right2 .right2_box > p {
  float: left;
}

.main .right .right2 .right2_box .prevPage {
  padding-left: 66px;
}

.main .right .right2 .right2_box .prevPage {
  position: relative;
}

.main .right .right2 .right2_box .prevPage i {
  display: block;
  width: 24px;
  height: 24px;
  background: url("../css/img/spirit.fw.png") no-repeat -300px 0;
  left: 8px;
  top: -4px;
  position: absolute;
}

.main .right .right2 .right2_box .nextPage {
  position: relative;
}

.main .right .right2 .right2_box .nextPage i {
  display: block;
  width: 24px;
  height: 24px;
  left: 36px;
  top: -4px;
  position: absolute;
  background: url("../css/img/spirit.fw.png") no-repeat -330px 0;
}

.main .right .fixed {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 950px;
  height: 43px;
}

.main .right .right3 {
  position: relative;
  height: 2210px;
  padding-left: 10px;
}

.main .right .right3 .dataList > li {
  width: 190px;
  height: 358px;
  float: left;
  font-size: 12px;
  color: #666;
  padding: 10px 0 0 15px;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.main .right .right3 .dataList > li > .imgBox img {
  width: 170px;
  height: 170px;
  padding: 20px;
}

.main .right .right3 .dataList > li .hot {
  display: block;
  width: 45px;
  height: 55px;
  background: url("../css/img/spirit.fw.png") no-repeat -350px -70px;
  left: 4px;
  top: 0px;
  position: absolute;
}

.main .right .right3 .dataList > li > .title {
  height: 24px;
  line-height: 24px;
  margin-bottom: 34px;
}

.main .right .right3 .dataList > li > .price {
  color: red;
  font-weight: bold;
  height: 20px;
}

.main .right .right3 .dataList > li .com {
  height: 32px;
  line-height: 32px;
}

.main .right .right3 .dataList > li .com > .star {
  float: left;
  position: relative;
  width: 88px;
  height: 32px;
  display: inline-block;
}

.main .right .right3 .dataList > li .com > .star .stari {
  display: block;
  width: 17px;
  height: 32px;
  background: url("../css/img/spirit.fw.png") no-repeat 0 -161px;
  left: 0px;
  float: left;
}

.main .right .right3 .dataList > li .com > .star .starNum {
  background-position: -17px -160px;
}

.main .right .right3 .dataList > li .com > .comment {
  padding-left: 5px;
  float: left;
  display: inline-block;
}

.main .right .right3 .dataList > li .com > .comment:hover {
  text-decoration: underline;
  color: #0066FF;
}

.main .right .right3 .dataList > li > .btn > .buyBtn, .main .right .right3 .dataList > li > .btn > .addCar {
  float: left;
  padding: 0 9px 0 9px;
  height: 22px;
  line-height: 20px;
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.main .right .right3 .dataList > li > .btn > .buyBtn {
  margin-right: 6px;
}

.main .right .right3 .dataList > li > .btn > a:hover {
  text-decoration: underline;
  color: #0066FF;
}

.main .right .right3 > a {
  position: absolute;
  bottom: -40px;
  left: 58px;
  font-size: 12px;
  color: #3366CC;
}

.main .right .right3 > a > i {
  display: block;
  width: 25px;
  height: 25px;
  background: url("../css/img/spirit.fw.png") no-repeat -370px 0;
  left: -28px;
  top: -4px;
  position: absolute;
}

.main .right .right3 .page {
  padding: 24px 0 0 372px;
  position: relative;
}

.main .right .right3 .page span {
  display: block;
  float: left;
  height: 41px;
  line-height: 41px;
  text-align: center;
  color: #666;
}

.main .right .right3 .page .ym {
  width: 41px;
  border: 1px solid #ccc;
  padding: 0 15px;
}

.main .right .right3 .page .prev, .main .right .right3 .page .next {
  border: 1px solid #ccc;
  padding: 0 24px;
}

.main .right .right3 .page .active {
  background: #EFEFEF;
  color: #999;
}

.main .right .right3 .page .pageNum {
  padding-left: 3px;
}

.main .right .right3 .page .skip {
  width: 34px;
  height: 24px;
  position: absolute;
  left: 700px;
  top: 33px;
}

.main .right .right3 .page span:nth-child(7) {
  position: absolute;
  left: 737px;
  top: 24px;
}

.main .right .right3 .page .confirm {
  width: 40px;
  height: 24px;
  line-height: 22px;
  border: 1px solid #ccc;
  border-radius: 2px;
  position: absolute;
  left: 759px;
  top: 32px;
}

.toTop {
  position: fixed;
  right: 54px;
  bottom: 54px;
  z-index: 10;
  font-size: 12px;
  width: 20px;
  height: 70px;
  background: #666;
  color: #fff;
  padding: 20px 0 0 3px;
  border-radius: 3px;
  opacity: 0;
}

.toTop i {
  display: block;
  width: 17px;
  height: 15px;
  background: url("../css/img/spirit.fw.png") no-repeat 0 -132px;
  left: 2px;
  top: 2px;
  position: absolute;
}

.toTop:hover {
  background: #333;
}
