.div1 .container {
  width: 984px;
}

.main {
  width: 100%;
  height: 465px;
  background: linear-gradient(180deg, #EAF7FF, #fff);
}

.main .container {
  width: 950px;
  height: 460px;
  margin: 0 auto;
  background: url("../img/login_bg.jpg") no-repeat 0 top;
  position: relative;
}

.main .container .img {
  position: relative;
}

.main .container .img > a {
  position: absolute;
  width: 167px;
  height: 95px;
  left: 0px;
  top: 0px;
}

.main .container form {
  width: 332px;
  height: 354px;
  border: 2px solid #EEDFBB;
  background: #fff;
  position: absolute;
  right: 177px;
  bottom: 64px;
}

.main .container form .title {
  height: 31px;
  line-height: 31px;
  background: linear-gradient(180deg, #fff, #eee);
}

.main .container form .title h2 {
  padding-left: 10px;
  font: bold 14px/31px Verdana, Geneva, sans-serif;
}

.main .container form .major {
  height: 322px;
  border: 1px solid #C7012C;
  padding: 10px;
}

.main .container form .major .tips {
  font-size: 12px;
  height: 32px;
  border: 1px solid #ccc;
  line-height: 30px;
  padding-left: 10px;
  background: #FAFAFA;
  margin-bottom: 5px;
}

.main .container form .major .un {
  height: 32px;
}

.main .container form .major .pw {
  height: 32px;
}

.main .container form .major .label {
  display: inline-block;
  width: 70px;
  text-align: center;
  font-size: 12px;
}

.main .container form .major .input {
  width: 222px;
  height: 24px;
  border: solid 1px #cccccc;
  line-height: 22px;
  padding: 0 5px;
}

.main .container form .major .forget {
  text-decoration: underline;
  font-size: 12px;
  padding-left: 80px;
  line-height: 13px;
}

.main .container form .major .login {
  margin-top: 9px;
  border-top: 1px dashed #ccc;
  font-size: 12px;
  padding: 9px 0 0 11px;
  position: relative;
  height: 103px;
}

.main .container form .major .login .son {
  position: absolute;
  left: 78px;
  top: 0;
}

.main .container form .major .login a {
  height: 32px;
  line-height: 32px;
  padding: 0 14px 0 20px;
  position: relative;
  text-decoration: underline;
}

.main .container form .major .login a i {
  display: block;
  width: 20px;
  height: 15px;
  background: url("../css/img/spirit.fw.png") no-repeat -100px 0;
  left: 0px;
  top: 3px;
  position: absolute;
}

.main .container form .major .btn {
  font-size: 12px;
}

.main .container form .major .btn > .reg {
  width: 140px;
  height: 40px;
  display: inline-block;
  color: #4171FC;
  line-height: 40px;
  margin-left: 80px;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #ccc;
  padding-left: 50px;
  position: relative;
  border-radius: 3px;
  background: linear-gradient(180deg, #fff, #eee);
}

.main .container form .major .btn > .reg i {
  display: block;
  width: 30px;
  height: 30px;
  background: url("../css/img/spirit.fw.png") no-repeat -270px -25px;
  left: 14px;
  top: 2px;
  position: absolute;
}

.main .container form .major .btn > a {
  display: inline-block;
  text-decoration: underline;
  font-size: 14px;
  padding-left: 12px;
}

.active {
  position: fixed;
  width: 50%;
  height: 50%;
  opacity: 1;
  background: #ccc;
  left: 50%;
  margin-left: -25%;
  top: 50%;
  margin-top: -25%;
  font-size: 100px;
  color: red;
  line-height: 300px;
  text-align: center;
}
